<h1>TWITCH-TV.TV</h1>
<iframe
    id ="tv"
    src="https://player.twitch.tv/?channel=wethepeople1&muted=false&autoplay=true"
    height="720"
    width="1280"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true">
</iframe>
<br>
<button type="button" style="position:absolute; left:200px; width:300px;height:100px; font-size:30px;" onclick="FindAction()">Find the action!</button>